body {
  background-color: black;
}

h1 {
  color: coral;
  text-align: center;
}

p {
  background-color: darkblue;
  color: aquamarine;
  text-align: center;
}

div {
  display: flex;
  justify-content: center;
}

img {
  width: 80vw;

}
